body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: $grey;
  text-transform: uppercase;
  background: $white;
  width: 320px;
}
