.explain__slogan {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.explain__addition {
  line-height: 24px;
  min-width: 269px;
}

.explain__header {
  max-width: 255px;
  margin: 0 auto;
}
