.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  color: $black;
}

.footer-visits {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
