.interes__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
}

.interes__addition {
  line-height: 24px;
}

.interes__btn {
  font-size: 21px;
  line-height: 26px;
  color: $white;
  background-color: $blue;
  padding-top: 17px;
  padding-bottom: 19px;
  padding-left: 47px;
  padding-right: 47px;
  text-transform: uppercase;
}
