.interes__slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  counter-reset: #000;
}

.interes__addition {
  line-height: 24px;
}

.interes__btn {
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  background-color: #81b3d2;
}
