.intro {
  background-color: lightsteelblue;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}
