.main-nav {
  width: 320px;
  max-height: 220px;
  //display: flex;
  text-align: center;
}

.site-list__item {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
